<footer>
    <div class="footer-content">
    <div class="footer-section">
        <h3>FacialPalsyPath</h3>
        <p>This resource was created for people to learn more about facial paralysis</p>
        <a href="/FacialPalsyPath/pages/diary.html" style="font-weight: bold;">More about FacialPalsyPath</a>
        <br><br>
        <p>Have any questions or suggestions for us? Reach out to ellaeberhar@gmail.com</p>
    </div>
    <div class="footer-section">
        <h3>Quick Links</h3>
        <ul>
        <li><a href="/FacialPalsyPath/pages/diary.html">Understanding Anatomy</a></li>
        <li><a href="/FacialPalsyPath/pages/diary.html">Understanding Facial Paralysis</a></li>
        <li><a href="/FacialPalsyPath/pages/diary.html">Your Clinic Visit</a></li>
        <li><a href="/FacialPalsyPath/pages/diary.html">Your Treatment</a></li>
        <li><a href="/FacialPalsyPath/pages/diary.html">More Resources</a></li>
        <li><a href="/FacialPalsyPath/pages/diary.html">About FacialPalsyPath</a></li>
        </ul>
    </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2026 FacialPalsyPath Ella Eberhardt. All rights reserved.</p>
    </div>
</footer>  

<!-- TO DO: EDIT ALL LINKS -->