<header>
    <nav>
    <div class="logo">
        <a href="/" class="logo-link">
        <img src="./icons/FacialPalsyPathLogo.png" alt="Home" class="logo-img">
         </a>
    </div>

    <!-- Hidden checkbox -->
        <input type="checkbox" id="menu-toggle" class="menu-toggle">

        <!-- Hamburger icon -->
        <label for="menu-toggle" class="hamburger">
             <span></span>
             <span></span>
             <span></span>
            </label>
        <div class="glass-overlay"></div>

    <ul class="nav-links">
        <li><a href="../pages/UnderstandingAnatomy.html">Understanding Anatomy</a></li>
        <li><a href="../pages/UnderstandingParalysis.html">Understanding Facial Paralysis</a></li>
        <li><a href="../pages/PatientPath.html">Patient Path</a></li>
        <li><a href="../pages/YourTreatment.html">Your Treatment</a></li>
        <li><a href="../pages/MoreResources.html">More Resources</a></li>
        <li><a href="../pages/AboutFacialPalsyPath.html">About FacialPalsyPath</a></li>
        <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle">Labs ▾</a>
            <ul class="dropdown-menu">
                <li><a href="/FacialPalsyPath/pages/lab2.html">Lab 2</a></li>
                <li><a href="/FacialPalsyPath/pages/lab3.html">Lab 3</a></li>
                <li><a href="/FacialPalsyPath/pages/lab4.html">Lab 4</a></li>
                <li><a href="/FacialPalsyPath/pages/lab5.html" >Lab 5</a></li>
                <li><a href="/FacialPalsyPath/pages/lab6.html" >Lab 6</a></li>
            </ul>
        </li> -->
    </ul>
    </nav>
</header>
<!-- TO DO: EDIT ALL LINKS -->